{% extends 'index.html' %}
{% block extra-css %}
    <link href="/static/plugins/dropzone/dropzone.css" rel="stylesheet">
    <script src="/static/plugins/dropzone/dropzone.js"></script>
{% endblock %}


{% block content-container %}
    <div id="page-title">
        <h1 class="page-header text-overflow">主机列表</h1>

        <!--Searchbox-->
        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="pli-magnifi-glass"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->
    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">主机列表</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->
    <div id="page-content">
        {% include 'components/hostgroups.html' %}
        <div class="col-lg-9">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">文件传输</h3>
                </div>
                <div class="panel-body">
                    <select name="transfer-type" onchange="ToggleUploadEle(this)">
                        <option value="send">发送文件到远程主机</option>
                        <option value="get">from远程主机下载文件</option>
                    </select>


                    <form id="filedropzone" class="dropzone">

                    </form>
                    {#                    <input type="hidden" value="{{ random_str }}" name="random_str">#}
                    <input id="remote_path" class="form-control" type="text" placeholder="远程路径">

                    <button id="file_count" onclick="PostTask('file_transfer')" class="btn btn-info pull-right">执行
                    </button>
                    <button class="btn btn-danger" onclick="End()">终止</button>
                    <a id="file-download-btn" class="btn btn-info hide" href="">下载任务文件到本地</a>


                </div>
            </div>
            {% include 'components/taskresult.html' %}
        </div>

    </div>
    </div>

    {% include 'components/multitask_js.html' %}

    <script>

        $('#filedropzone').dropzone({
            url: "{% url 'task_file_upload' %}?random_str={{ random_str }}", //必须填写
            method: "post",  //也可用put
            maxFiles: 10,//一次性上传的文件数量上限
            maxFilesize: 2, //MB
            //acceptedFiles: ".jpg,.gif,.png"//限制上传的类型
            dictMaxFilesExceeded: "您最多只能上传10个文件！",
            dictFileTooBig: "文件过大上传文件最大支持."
            /*
            init: function () {
                this.on("success", function (file) { //文件上传成功触发事件
                    $('#file_count').attr('file_count')
                });
            }
            */

        });
        Dropzone.autoDiscover = false;


        function ToggleUploadEle(self) {

            console.log($(self).val());
            if ($(self).val() == 'get') {
                $(self).next().addClass("hide")
            } else {
                $(self).next().removeClass('hide')
            }

        }

        {% include 'components/end_tatsk_js.html' %}
    </script>

{% endblock %}